 /* Styles for the root element, typically representing the entire webpage */
#root {
  max-width: 1280px; /* Set the maximum width for the content */
  margin: 0 auto; /* Center the content horizontally */
  padding: 2rem; /* Add padding around the content */
  text-align: center; /* Center-align text within the root element */
}

/* Styles for the logo element */
.logo {
  height: 6em; /* Set the height of the logo */
  padding: 1.5em; /* Add padding around the logo */
  will-change: filter; /* Prepare for CSS property changes */
  transition: filter 300ms; /* Apply a smooth transition effect to the 'filter' property */
}

/* Styles for the logo when hovered */
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa); /* Apply a drop shadow effect when the logo is hovered */
}

/* Styles for the React logo when hovered */
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa); /* Apply a different drop shadow effect to the React logo when hovered */
}

/* Keyframe animation to spin the logo */
@keyframes logo-spin {
  from {
    transform: rotate(0deg); /* Start the rotation from 0 degrees */
  }
  to {
    transform: rotate(360deg); /* Rotate the logo 360 degrees */
  }
}

/* Apply the logo-spin animation to the second 'a' element when motion is not reduced */
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear; /* Apply the logo-spin animation infinitely with a duration of 20 seconds and a linear timing function */
  }
}

/* Styles for the card element */
.card {
  padding: 2em; /* Add padding around the card content */
}

/* Styles for text with the class 'read-the-docs' */
.read-the-docs {
  color: #888; /* Set the text color to a shade of gray */
}
