/* footer.css */

/* Style the main container of the Footer component */
.footer-container {
  background-color: #f5f5f7; /* Change the background color */
  color: #0a0a0c; /* Set text color to white */
  padding: 18px; /* Add optional padding */
  text-decoration: none;
  width: 95vw;
  margin-top: 30px;
}

/* Style the lists */
.footer-list {
  list-style: none; /* Remove bullet points */
  padding: 0; /* Remove list padding */
  color: #050505;
  text-decoration: none;
  font-size: 12px;
  color: #424245;
}

.footer-item {
  margin-bottom: 8px; /* Add some spacing between list items */
  color: #0f0e0e;
  line-height: 1.5;
  font-size: 12px;
  text-decoration: none;
}

/* Style the links */
a {
  color: #26262c; /* Set link color to white */
  text-decoration: none; /* Remove underlines */
}

a:hover {
  text-decoration: underline; /* Add underline on hover */
}

ul.footer-list {
  list-style-type: none;
  padding: 0;
  text-decoration: none;
}

ul.footer-list li a {
  color: #424245; /* Change text color to your desired color */
  text-decoration: none;
  font-size: 14px;
}
