.nav-button:focus {
  outline: none !important;
}
#wrapper {
  color: #ffffff;
  list-style-type: none;
}
.open {
  display: block;
}
.close {
  display: none !important;
}
.custom-list-style {
  list-style-type: none;
  padding-left: 0;
  padding-right: 20px;
}
.centered-section {
  text-align: center;
}
.custom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.custom-content {
  text-align: center;
}

.image-container {
  text-align: center;
  position: relative;
}

.image {
  width: 100vw;
  height: 75vh;
}

.text-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 45px;
  text-align: center;
}

.overlay-text {
  margin: 0;
  font-size: 35px;
  font-weight: bold;
}

.overlay-text:nth-child(2) {
  margin: 5px 0;
  font-size: 24px;
}

.learn-more-link {
  text-decoration: none;
  color: #007bff;
  font-size: 20px;
}
/* Hamburger Menü Stilleri */
.hamburger-menu {
  position: relative;
}

.nav-button {
  display: block;
  margin-left: 10px; /* İstediğiniz aralığı ayarlayabilirsiniz */
  cursor: pointer;
}

.menu-list {
  display: none;
  /* Diğer menü stilleri */
}

.menu-list.open {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 44px; /* AppBar yüksekliğine göre ayarlayın */
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  /* Diğer açık menü stilleri */
}
