/* Styling for the .order-button class */

.order-button {
  color: #2997ff; /* Text color */
  border: none; /* No border */
  padding: 10px 20px; /* Height and width */
  border-radius: 5px; /* Border radius for rounded corners */
  cursor: pointer; /* Cursor type on hover */
}
