.iphone14pro-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iphone14pro-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.iphone14pro-image{
  width: 100%;
  max-height: 2000px;
  object-fit: contain;
  margin-top: 8px;
}

.overlay {
  text-align: center;
}
.custom-iphone-container {
    /* İhtiyaç duyduğunuz stillemeleri burada uygulayabilirsiniz */
  }
  
  .custom-watch-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
 