/* styles.css */

/* Style for the body element */
body {
  border-top: 1px solid transparent; /* Add a transparent border to the top */
  margin-top: -1px; /* Offset margin to align content correctly */
  position: relative;
  display: flex; /* Use flex for layout */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

/* Center class for vertical and horizontal alignment */
.center {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Cover the entire viewport height */
  background-color: #f7f7f7; /* Set background color */
  width: 100vw; /* Cover the entire viewport width */
}

/* Style for the grid container */
.grid-container {
  width: 100v; /* Content width */
  margin: 0 auto; /* Center content horizontally */
  padding: 200px; /* Inner padding */
}

/* Style for grid items */
.grid-item {
  padding: 20px; /* Spacing between grid items */
}

/* Style for a fixed header */
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px; /* Header padding */
  text-align: center; /* Center-align header text */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow effect */
}

/* wheretobuy.css */

/* Style for custom card media */
.custom-card-media {
  -moz-border-top-colors: none;
  background: #ffffff;
  border-color: #e5e5e5 #dbdbdb #d2d2d2;
  border-radius: 5px 5px 5px 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  margin-bottom: 1px;
  padding: 20px;
  width: 300px;
  z-index: 0;
  min-height: 400px;
}
