/* Footer stil örnekleri */
.ac-gf-content {
    background-color: #f5f5f7;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: left;
    margin-top: 20px;


  }
  
  .ac-gf-label {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .ac-gf-directory {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .ac-gf-directory-column {
    width: 20%;
    padding: 10px;
    vertical-align: top;
  }
  
  .ac-gf-directory-column h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .ac-gf-directory-column-section-list {
    list-style-type: none;
    padding: 0;
  }
  
  .ac-gf-directory-column-section-item {
    margin: 5px 0;
  }
  
  .ac-gf-directory-column-section-link {
    color: #6e6e73;
    text-decoration: none;
    font-size: 12px;
    transition: color 0.3s ease;
  }
  
  .ac-gf-directory-column-section-link:hover {
    color: #007bff; /* Hover rengi özelleştirilebilir */
  }
  
  .ac-gf-footer {
    margin-top: 20px;
  }
  
  .ac-gf-footer-shop {
    font-size: 16px;
  }
  
  .ac-gf-footer-locale {
    font-size: 16px;
  }
  
  .ac-gf-footer-legal {
    font-size: 14px;
    text-align: center;
  }
  
  .ac-gf-footer-legal-links {
    list-style-type: none;
    padding: 0;
  }
  
  .ac-gf-footer-legal-links-item {
    display: inline;
    margin: 0 10px;
  }
  
  .ac-gf-footer-legal-link {
    color: #292626;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .ac-gf-footer-legal-link:hover {
    color: #007bff; /* Hover rengi özelleştirilebilir */
  }
  