.nav-button:focus {
  outline: none !important;
}
#wrapper {
  color: #ffffff;
  list-style-type: none;
}
.open {
  display: block;
}
.close {
  display: none !important;
}
.custom-list-style {
  list-style-type: none;
  padding-left: 0;
}
.centered-section {
  text-align: center;
}
.custom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.custom-content {
  text-align: center;
}
